<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
  <script type='text/javascript'> 
window.KHOROS_CONFIG  = { 
   companyKey: 'fb-arvrdev', 
   widgetId: '53993e74-a2c9-4ab1-b106-4f1917325dae' 
}; 
(function(){var scriptTag = document.createElement('script');

scriptTag.setAttribute('src','https://brand-messenger.app.khoros.com/bundle/loader.js?v=' + new Date().getTime());

document.head.appendChild(scriptTag);})();</script> 

</head>

<body>
  {% include 'nav.html' %}

  {% block content %}{% endblock %}
</body>
</html>
